In [1]:
import sqlite3

[sqlite3](https://docs.python.org/3.7/library/sqlite3.html)  

Scenario It useful to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle.

[sqlite sample database](http://www.sqlitetutorial.net/sqlite-sample-database/)

In [28]:
# exmaple database, chinbook.db in sqlite_sample/chinbook.db
# Normal procedure with sqlite db:

# 1. Open connection.
db_file = 'sqlite_sample/chinook.db'
connection = sqlite3.connect(db_file)

# 2. Get a cursor.
cursor = connection.cursor()

# 3. Execute SQL.
for row in cursor.execute('select * from employees limit 10'):
    print(row)
    
# 4. Save (commit) the changes, for creation/updates.
# connection.commit()


# 5. We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
connection.close()

(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com')
(2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com')
(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
(4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
(5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')
(6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com')
(7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com')
(8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')

System Tables:  
 - **sqlite_master**	Master listing of all database objects in the database and the SQL used to create each object.
 - **sqlite_sequence**	Lists the last sequence number used for the AUTOINCREMENT column in a table.  
   The sqlite_sequence table will only be created once an AUTOINCREMENT column has been defined in the database and   
   at least one sequence number value has been generated and used in the database.
 - **sqlite_stat1**	This table is created by the ANALYZE command to store statistical information about the tables and  
   indexes analyzed. This information will be later used by the query optimizer.

In [31]:
# 1. Open connection.
db_file = 'sqlite_sample/chinook.db'
connection = sqlite3.connect(db_file)

# 2. Get a cursor.
cursor = connection.cursor()
result = cursor.execute("select * from sqlite_master")
for row in result:
    if row[0] == 'table':
        print(row[1])
connection.close()

albums
sqlite_sequence
artists
customers
employees
genres
invoices
invoice_items
media_types
playlists
playlist_track
tracks
sqlite_stat1